.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: inherit;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: inherit;
}

.fields label {
    font-weight: 400;
    width: 20%;

}

label {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-weight: 100;
    text-align: left;

}

input {
    border: 1px black solid;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    font-size: 1em;
    margin: 5px 5px;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    background-color: white;
}

button {
    padding: 8px;
    border: 1;
    border-color: #3f3fc0;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.1em;
    width: 50%;
    background-color: #3f3fc0;
    color: white;
    cursor: pointer;
}

button:hover {
    padding: 8px;
    /* border: 1; */
    border-color: #3f3fc0;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.1em;
    width: 50%;
    background-color: white;
    color: #3f3fc0;
    cursor: pointer;
    animation-duration: .31s;
    animation-name: animate;
    /* animation-delay: .2s; */
}

@keyframes animate {
    from{background-color: #3f3fc0; }
    to{background-color: aliceblue;
        color: black;
        border: 0;
    }
}