.navBar{
    min-height: 100px;
    background-color: #190256;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    border-bottom: 10px solid orange;
}
.navBar div, .react{
    background-color: #190256;
}
.navBar div{
    margin: 0 15px 
}
.react{
    margin-right: 10px;
}
.link{ 
    text-decoration: none;
    background-color: #190256;
}
a{
    text-decoration: none;
}

@media screen and (max-width:500px) {
  .nome{
    display: none;
  }

  .react{
    width: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
