@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  background-color: #e3e3e3;
}

button {
  cursor: pointer;
}

a,
link {
  text-decoration: none;
}